<div class="popup-wrapper" #popupArea>

    <div class="tag-row" [ngClass]="{'make-blue': i == highlightedUserIndex}" [attr.id]="user.userID" *ngFor="let user of users | filter:searchPhrase:filterMetaData; let i = index">

        <div (click)="selectUser(user)">
          <img class="avatar" [src]="user.avatar">
          <span class="name-area" [ngClass]="i == highlightedUserIndex ? 'make-white' : 'make-dark'">{{user.firstName + " " + user.lastName}}</span> 
          <img class="status" [src]="user.status === 'here' ? '/assets/greenstatus.png' : '/assets/whitestatus.png'">
        </div>

    </div>

    <div class="tag-row make-dark" *ngIf="!filterMetaData.filteredUsers.length">
      No users found matching that entry
    </div>

</div>





