<div class="container">
    <p class="comments-style">Comments:</p>

    <div class="row" *ngFor="let comment of comments">
        <div class="left-elements" [innerHTML]="comment.text"></div>
        <div class="right-elements">{{comment.date | date: 'yyyy/MM/dd hh:mm a'}}</div>
    </div>

    <div class="row special">
        <div class="left-elements input-with-button">

            <div class="wrapper">
                <!-- Comment area, using contenteditable intead of input -->
                <div [ngClass]="{'disable-content-editable': !showSubmitButton}" #editableContent contenteditable id="editable-content"></div>

                <!-- User Tag Popup -->
                <app-popup id="tag-popup" *ngIf="popupOpen" [users]="users" [currentInnerHTML]="currentInnerHTML" [currentIndex]="currentIndex" (onUserSelected)="selectUser($event)" (closePopup)="close()"></app-popup>
            </div>

        </div>

        <div class="add-submit-button">
            <button class="right-elements" (click)="toggleSubmitButton()">{{showSubmitButton ? "Submit Comment" : "Add Comment"}}</button>
        </div>
    </div>
</div>







  
